In [1]:
import numpy as np
import pandas as pd

In [2]:
# Use pandas to create a Series named fruits from the following list
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", 
                    "honeycrisp apple", "tomato", "watermelon", "honeydew", 
                    "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", 
                    "gooseberry", "papaya"])

In [3]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [4]:
# Determine the number of elements in fruits
fruits.size

17

In [5]:
# Output only the index from fruits
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [6]:
# Output only the values from fruits
# Confirm the data type of the values in fruits - dtype=object
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [7]:
# Run the .describe() on fruits to see what information it 
# returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [8]:
# Run the code necessary to produce only the unique string values from fruits.
pd.unique(fruits)

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [9]:
# Determine how many times each unique string value occurs in fruits.
fruits.value_counts(normalize=False, sort=True, ascending=False)

kiwi                4
mango               2
gala apple          1
watermelon          1
tomato              1
honeycrisp apple    1
blueberry           1
gooseberry          1
honeydew            1
strawberry          1
papaya              1
blackberry          1
pineapple           1
dtype: int64

In [10]:
# Determine the string value that occurs most frequently in fruits.
fruit_counts = fruits.value_counts()
max_count = max(fruit_counts.values)
fruit_counts[fruit_counts == max_count]

kiwi    4
dtype: int64

In [11]:
# Determine the string value that occurs least frequently in fruits.
fruit_counts = fruits.value_counts()
min_count = min(fruit_counts.values)
fruit_counts[fruit_counts == min_count]

gala apple          1
watermelon          1
tomato              1
honeycrisp apple    1
blueberry           1
gooseberry          1
honeydew            1
strawberry          1
papaya              1
blackberry          1
pineapple           1
dtype: int64